#custom-div-input-box {
    border: 2px solid black;
    width: 70vw;
    min-height: 500px;
    padding: 25px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-inline {
    display: inline;
}

.red-underline {
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */
    text-decoration-color: red;
}


.no-underline{
    border: none;
    text-decoration: none !important;
}